* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* header and headline */

.first-page {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 340px 600px;
  width: 340px;
  height: 650px;
  margin: 0 auto;
}

#head img {
  width: 30px;
  height: 20px;
  margin-right: 15px;
}

#head a {
  margin-left: 15px;
  font-weight: bold;
  color: rgb(55, 113, 223);
  text-decoration: none;
}

#head a:hover {
  text-decoration: underline;
}

#head {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-page .name {
  margin-top: 130px;
  margin-left: 20px;
  margin-right: 20px;
}

.first-page .para {
  margin-left: 20px;
  margin-right: 30px;
  color: rgb(87, 81, 81);
}

.first-page .text {
  margin-left: 20px;
  font-weight: bold;
  color: rgb(55, 113, 223);
}

.icons ul {
  display: flex;
}

.icons li {
  list-style-type: none;
  margin-right: 40px;
  margin-left: -20px;
}

.icons img:hover {
  transform: scale(1.2);
}

/* Work-section */

.main {
  background-color: whitesmoke;
  width: 340px;
  height: 2800px;
  margin: 0 auto;
  display: grid;
  padding: 20px;
  align-content: space-around;
  grid-template-rows: 23% 23% 23% 23%;
}

.main > section {
  border-radius: 15px;
  padding: 15px 0;
  background-color: white;
  height: 600px;
}

/* Page-2 */

.page-2 {
  padding: 0 10px;
}

.picture img {
  width: 260px;
  margin: 0 auto;
  display: block;
}

.picture img:hover {
  border: 2px blue solid;
  border-radius: 15px;
}

.heading {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.heading h1 {
  width: 260px;
  margin: 0 auto;
  height: 70px;
  padding: 10px 0;
}

.year {
  width: 260px;
  margin: 0 auto;
  display: flex;
}

.year p {
  padding-right: 10px;
  font-weight: bold;
  color: rgb(116, 111, 111);
}

.para {
  width: 260px;
  margin: 0 auto;
  font-weight: bold;
  color: rgb(116, 111, 111);
}

.skills {
  width: 260px;
  height: 60px;
  display: flex;
  margin: 0 auto;
}

.skills p {
  display: inline-flex;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 10px;
  align-items: center;
  font-size: 14px;
  background-color: whitesmoke;
  color: rgb(85, 147, 228);
  font-weight: bold;
}

.buttons {
  padding: 30px 0;
  margin: 0 auto;
  width: 260px;
}

.buttons button {
  height: 50px;
  width: 140px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgb(85, 147, 228);
  background-color: white;
  color: rgb(25, 117, 238);
}

.buttons button:hover {
  border: 2px blue solid;
  border-radius: 15px;
}

/* page-3 */

.page-3 .heading h1 {
  font-size: 35px;
}

.page-3 .year {
  margin-top: 20px;
}

/* page-4 */

/* page-5 */

.page-5 .heading h1 {
  font-size: 35px;
}

.page-5 .year {
  margin-top: 20px;
}

/* About US page */

.about-us {
  width: 340px;
  height: 1300px;
  margin: 0 auto;
  padding: 70px 0;
}

.title {
  height: 180px;
  font-size: 35px;
  width: 290px;
  margin: 0 auto;
}

.para1 {
  height: 150px;
  width: 290px;
  margin: 0 auto;
  font-weight: bold;
  color: rgb(116, 111, 111);
}

.about-us .text {
  font-weight: bold;
  color: rgb(55, 113, 223);
  width: 290px;
  margin: 0 auto;
}

.about-us .icons {
  width: 290px;
  margin: 0 auto;
}

.about-us .buttons {
  width: 290px;
  margin: 0 auto;
  height: 40px;
}

.about-us .buttons button {
  width: 170px;
}

.lang {
  align-items: center;
  width: 290px;
  margin: 30px auto;
  height: 90px;
}

.lang ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
  justify-content: space-between;
}

.lang img {
  height: 30px;
  width: 30px;
}

.javascript {
  display: flex;
  border: white 2px solid;
  border-radius: 15px;
  background-color: whitesmoke;
  justify-content: flex-start;
  align-items: center;
  width: 290px;
  margin: 30px auto;
  height: 70px;
}

.javascript img {
  margin-right: 15px;
  height: 55px;
  width: 55px;
}

.html {
  display: flex;
  border: white 2px solid;
  border-radius: 15px;
  background-color: whitesmoke;
  justify-content: flex-start;
  align-items: center;
  width: 290px;
  margin: 30px auto;
  height: 70px;
}

.html img {
  margin-right: 15px;
  height: 55px;
  width: 55px;
}

.css {
  display: flex;
  border: white 2px solid;
  border-radius: 15px;
  background-color: whitesmoke;
  justify-content: flex-start;
  align-items: center;
  width: 290px;
  margin: 30px auto;
  height: 70px;
}

.css img {
  margin-right: 15px;
  height: 55px;
  width: 55px;
}

.framework {
  align-items: center;
  width: 290px;
  margin: 0 auto;
  height: 90px;
}

.framework ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.framework img {
  height: 30px;
  width: 30px;
}
